USE [master]
GO
/****** Object:  Database [QUANLYNHANVIEN]    Script Date: 9/4/2023 2:02:00 PM ******/
CREATE DATABASE [QUANLYNHANVIEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHANVIEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYNHANVIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYNHANVIEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QUANLYNHANVIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHANVIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHANVIEN]
GO
/****** Object:  UserDefinedFunction [dbo].[fChuyenCoDauThanhKhongDau]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fChuyenCoDauThanhKhongDau](@inputVar NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
/****** Object:  Table [dbo].[BANGCHAMCONG]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONG](
	[MANV] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[MALUONG] [varchar](10) NULL,
	[TIENKHENTHUONG] [money] NULL,
	[TIENKYLUAT] [money] NULL,
	[SONGAYCONG] [int] NULL,
	[SONGAYNGHI] [int] NULL,
	[SOGIOLAMTHEM] [int] NULL,
	[GHICHU] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGCHAMCONGTHUVIEC]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGCHAMCONGTHUVIEC](
	[MANVTV] [int] NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[SONGAYCONG] [int] NULL,
	[SONGAYNGHI] [int] NULL,
	[SOGIOLAMTHEM] [int] NULL,
	[LUONGTV] [money] NULL,
	[GHICHU] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANVTV] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGLUONG]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGLUONG](
	[MALUONG] [varchar](10) NOT NULL,
	[LCB] [money] NULL,
	[PHUCAPCHUCVU] [money] NULL,
	[PHUCAPKHAC] [money] NULL,
	[GHICHU] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANGTINHLUONG]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGTINHLUONG](
	[MANV] [int] NOT NULL,
	[LUONG] [money] NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[GHICHU] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAOCAOLUONG]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOLUONG](
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[TONGTIEN] [money] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [varchar](8) NOT NULL,
	[TENBOPHAN] [nvarchar](20) NULL,
	[NGAYTHANHLAP] [datetime] NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSOTHUVIEC]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSOTHUVIEC](
	[MANVTV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](70) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NOICAP] [nvarchar](20) NULL,
	[VITRITHUVIEC] [nvarchar](25) NULL,
	[NGAYTV] [datetime] NULL,
	[SOTHANGTV] [int] NULL,
	[SDT] [varchar](10) NULL,
	[HOCVAN] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANVTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHENTHUONG]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHENTHUONG](
	[MAKT] [int] IDENTITY(1,1) NOT NULL,
	[TIEN] [money] NULL,
	[LYDO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KYLUAT]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KYLUAT](
	[MAKL] [int] IDENTITY(1,1) NOT NULL,
	[TIEN] [money] NULL,
	[LYDO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUCHAMCONG]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUCHAMCONG](
	[MALSCHAMCONG] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYCHAMCONGGANNHAT] [datetime] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALSCHAMCONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUVANGMAT]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUVANGMAT](
	[MANV] [int] NOT NULL,
	[NGAYNGHI] [datetime] NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[NGAYNGHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAINHANVIEN]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAINHANVIEN](
	[MALOAINV] [varchar](10) NOT NULL,
	[TENLOAINV] [nvarchar](30) NULL,
	[MUCLUONGCOBAN] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAINV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LSCHINHSUA]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LSCHINHSUA](
	[MACS] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[LANCS] [int] NULL,
	[MAPHONG] [varchar](6) NULL,
	[MALUONG] [varchar](10) NULL,
	[HOTEN] [nvarchar](70) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NOICAP] [nvarchar](20) NULL,
	[CHUCVU] [nvarchar](25) NULL,
	[MALOAINV] [varchar](10) NULL,
	[LOAIHD] [nvarchar](20) NULL,
	[THOIGIAN] [int] NULL,
	[NGAYKY] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[SDT] [varchar](10) NULL,
	[HOCVAN] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](60) NULL,
	[NGAYCHINHSUA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [varchar](6) NULL,
	[MALUONG] [varchar](10) NULL,
	[HOTEN] [nvarchar](70) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [nvarchar](4) NULL,
	[DANTOC] [nvarchar](50) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NOICAP] [nvarchar](20) NULL,
	[CHUCVU] [nvarchar](25) NULL,
	[MALOAINV] [varchar](10) NULL,
	[LOAIHD] [nvarchar](20) NULL,
	[THOIGIAN] [int] NULL,
	[NGAYKY] [datetime] NULL,
	[NGAYHETHAN] [datetime] NULL,
	[SDT] [varchar](10) NULL,
	[HOCVAN] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIENHIENTAI]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIENHIENTAI](
	[MANV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NVTHOIVIEC]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NVTHOIVIEC](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](70) NULL,
	[CMND_CCCD] [varchar](12) NULL,
	[NGAYTHOIVIEC] [datetime] NULL,
	[LYDO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANLOAITAIKHOAN]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANLOAITAIKHOAN](
	[MALOAITK] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAITK] [nvarchar](20) NULL,
	[QUYENHAN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAITK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPHONG] [varchar](6) NOT NULL,
	[MABP] [varchar](8) NULL,
	[TENPHONG] [nvarchar](20) NULL,
	[NGAYTHANHLAP] [datetime] NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOBH]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOBH](
	[MABH] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYCAPSO] [datetime] NULL,
	[NOICAPSO] [nvarchar](20) NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTHAISAN]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTHAISAN](
	[MATS] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[NGAYVESOM] [datetime] NULL,
	[NGAYNGHISINH] [datetime] NULL,
	[NGAYLAMTROLAI] [datetime] NULL,
	[TROCAPCTY] [money] NULL,
	[GHICHU] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[MALOAITK] [int] NULL,
	[TENCHUTAIKHOAN] [nvarchar](20) NULL,
	[TENDANGNHAP] [varchar](20) NULL,
	[MATKHAU] [varchar](90) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[MATHAMSO] [varchar](4) NOT NULL,
	[TENTHAMSO] [nvarchar](20) NULL,
	[GIATRI] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHAMSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAYDOIBANGLUONG]    Script Date: 9/4/2023 2:02:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAYDOIBANGLUONG](
	[MANV] [int] NOT NULL,
	[MALUONG] [varchar](10) NOT NULL,
	[MALUONGMOI] [varchar](10) NOT NULL,
	[NGAYSUA] [datetime] NULL,
	[LYDO] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC,
	[MALUONG] ASC,
	[MALUONGMOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANGCHAMCONG] ([MANV], [THANG], [NAM], [MALUONG], [TIENKHENTHUONG], [TIENKYLUAT], [SONGAYCONG], [SONGAYNGHI], [SOGIOLAMTHEM], [GHICHU]) VALUES (2, 8, 2023, N'Luong02', 4000000.0000, 1000000.0000, 26, 0, 3, N'')
INSERT [dbo].[BANGCHAMCONG] ([MANV], [THANG], [NAM], [MALUONG], [TIENKHENTHUONG], [TIENKYLUAT], [SONGAYCONG], [SONGAYNGHI], [SOGIOLAMTHEM], [GHICHU]) VALUES (3, 3, 2023, N'Luong02', 20000000.0000, 1000000.0000, 26, 0, 30, N'')
INSERT [dbo].[BANGCHAMCONG] ([MANV], [THANG], [NAM], [MALUONG], [TIENKHENTHUONG], [TIENKYLUAT], [SONGAYCONG], [SONGAYNGHI], [SOGIOLAMTHEM], [GHICHU]) VALUES (4, 7, 2023, N'Luong02', 2000000.0000, 1000000.0000, 26, 0, 22, N'Đã nghỉ việc')
GO
INSERT [dbo].[BANGCHAMCONGTHUVIEC] ([MANVTV], [THANG], [NAM], [SONGAYCONG], [SONGAYNGHI], [SOGIOLAMTHEM], [LUONGTV], [GHICHU]) VALUES (1, 10, 2022, 26, 0, 12, 5000000.0000, NULL)
INSERT [dbo].[BANGCHAMCONGTHUVIEC] ([MANVTV], [THANG], [NAM], [SONGAYCONG], [SONGAYNGHI], [SOGIOLAMTHEM], [LUONGTV], [GHICHU]) VALUES (2, 10, 2022, 24, 2, 4, 5000000.0000, NULL)
INSERT [dbo].[BANGCHAMCONGTHUVIEC] ([MANVTV], [THANG], [NAM], [SONGAYCONG], [SONGAYNGHI], [SOGIOLAMTHEM], [LUONGTV], [GHICHU]) VALUES (3, 8, 2023, 23, 4, 44, 890000.0000, N'f')
GO
INSERT [dbo].[BANGLUONG] ([MALUONG], [LCB], [PHUCAPCHUCVU], [PHUCAPKHAC], [GHICHU]) VALUES (N'Luong01', 15000000.0000, 1000000.0000, 1000000.0000, NULL)
INSERT [dbo].[BANGLUONG] ([MALUONG], [LCB], [PHUCAPCHUCVU], [PHUCAPKHAC], [GHICHU]) VALUES (N'Luong02', 25000000.0000, 2000000.0000, 2000000.0000, NULL)
INSERT [dbo].[BANGLUONG] ([MALUONG], [LCB], [PHUCAPCHUCVU], [PHUCAPKHAC], [GHICHU]) VALUES (N'Luong03', 50000000.0000, 10000000.0000, 10000000.0000, NULL)
GO
INSERT [dbo].[BANGTINHLUONG] ([MANV], [LUONG], [THANG], [NAM], [GHICHU]) VALUES (2, 32120000.0000, 8, 2023, N'')
INSERT [dbo].[BANGTINHLUONG] ([MANV], [LUONG], [THANG], [NAM], [GHICHU]) VALUES (3, 49200000.0000, 3, 2023, N'')
INSERT [dbo].[BANGTINHLUONG] ([MANV], [LUONG], [THANG], [NAM], [GHICHU]) VALUES (4, 30880000.0000, 7, 2023, N'Đã nghỉ việc')
GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBOPHAN], [NGAYTHANHLAP], [GHICHU]) VALUES (N'bpmoi', N'bo phan moi', CAST(N'2023-08-18T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[BOPHAN] ([MABP], [TENBOPHAN], [NGAYTHANHLAP], [GHICHU]) VALUES (N'g', N'Quản lý', CAST(N'2023-08-17T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[BOPHAN] ([MABP], [TENBOPHAN], [NGAYTHANHLAP], [GHICHU]) VALUES (N'gd', N'Giáo dụcx', CAST(N'2023-08-24T00:00:00.000' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[HOSOTHUVIEC] ON 

INSERT [dbo].[HOSOTHUVIEC] ([MANVTV], [HOTEN], [NGAYSINH], [GIOITINH], [CMND_CCCD], [NOICAP], [VITRITHUVIEC], [NGAYTV], [SOTHANGTV], [SDT], [HOCVAN], [GHICHU]) VALUES (1, N'Nguyễn Văn A', CAST(N'2002-01-01T00:00:00.000' AS DateTime), N'Nam', N'123456789', N'BD', N'Editor', CAST(N'2024-01-31T00:00:00.000' AS DateTime), 5, N'0123456789', N'Master', N'GHICHU')
INSERT [dbo].[HOSOTHUVIEC] ([MANVTV], [HOTEN], [NGAYSINH], [GIOITINH], [CMND_CCCD], [NOICAP], [VITRITHUVIEC], [NGAYTV], [SOTHANGTV], [SDT], [HOCVAN], [GHICHU]) VALUES (2, N'Nguyễn Thị B', CAST(N'1999-04-04T00:00:00.000' AS DateTime), N'Nữ', N'987654321', N'BD', N'Content Maker', CAST(N'2022-10-01T00:00:00.000' AS DateTime), 5, N'0123456789', N'Engineer', N'GHICHU')
INSERT [dbo].[HOSOTHUVIEC] ([MANVTV], [HOTEN], [NGAYSINH], [GIOITINH], [CMND_CCCD], [NOICAP], [VITRITHUVIEC], [NGAYTV], [SOTHANGTV], [SDT], [HOCVAN], [GHICHU]) VALUES (3, N'fff', CAST(N'2002-07-10T00:00:00.000' AS DateTime), N'Nam', N'123456788', N'gg', N'f', CAST(N'2023-10-13T00:00:00.000' AS DateTime), 2, N'0123456789', N'dh', N'g')
SET IDENTITY_INSERT [dbo].[HOSOTHUVIEC] OFF
GO
SET IDENTITY_INSERT [dbo].[KHENTHUONG] ON 

INSERT [dbo].[KHENTHUONG] ([MAKT], [TIEN], [LYDO]) VALUES (1, 2000000.0000, N'Thực hiện tốt project')
INSERT [dbo].[KHENTHUONG] ([MAKT], [TIEN], [LYDO]) VALUES (2, 10000000.0000, N'Thực hiện tốt nhiệm vụ cả năm')
SET IDENTITY_INSERT [dbo].[KHENTHUONG] OFF
GO
SET IDENTITY_INSERT [dbo].[KYLUAT] ON 

INSERT [dbo].[KYLUAT] ([MAKL], [TIEN], [LYDO]) VALUES (1, 500000.0000, N'Trễ deadline')
INSERT [dbo].[KYLUAT] ([MAKL], [TIEN], [LYDO]) VALUES (2, 500000.0000, N'Đi trễ')
SET IDENTITY_INSERT [dbo].[KYLUAT] OFF
GO
INSERT [dbo].[LOAINHANVIEN] ([MALOAINV], [TENLOAINV], [MUCLUONGCOBAN]) VALUES (N'GV', N'Giảng Viên', 15000000.0000)
INSERT [dbo].[LOAINHANVIEN] ([MALOAINV], [TENLOAINV], [MUCLUONGCOBAN]) VALUES (N'NV', N'Nhân Viên', 25000000.0000)
INSERT [dbo].[LOAINHANVIEN] ([MALOAINV], [TENLOAINV], [MUCLUONGCOBAN]) VALUES (N'TK', N'Trưởng Khoa', 50000000.0000)
GO
SET IDENTITY_INSERT [dbo].[LSCHINHSUA] ON 

INSERT [dbo].[LSCHINHSUA] ([MACS], [MANV], [LANCS], [MAPHONG], [MALUONG], [HOTEN], [NGAYSINH], [GIOITINH], [DANTOC], [CMND_CCCD], [NOICAP], [CHUCVU], [MALOAINV], [LOAIHD], [THOIGIAN], [NGAYKY], [NGAYHETHAN], [SDT], [HOCVAN], [GHICHU], [NGAYCHINHSUA]) VALUES (2, 11, 1, N'eee', N'Luong02', N'Hai Banh', CAST(N'2000-02-09T00:00:00.000' AS DateTime), N'Nam', N'Tày', N'765432892', N'hcm', N'Giang vien Anh', N'GV', N'Dài hạn', 2, CAST(N'2023-08-03T00:00:00.000' AS DateTime), CAST(N'2025-08-03T00:00:00.000' AS DateTime), N'0987654564', N'Thac Si', N'abcd', CAST(N'2023-08-31T20:12:40.000' AS DateTime))
INSERT [dbo].[LSCHINHSUA] ([MACS], [MANV], [LANCS], [MAPHONG], [MALUONG], [HOTEN], [NGAYSINH], [GIOITINH], [DANTOC], [CMND_CCCD], [NOICAP], [CHUCVU], [MALOAINV], [LOAIHD], [THOIGIAN], [NGAYKY], [NGAYHETHAN], [SDT], [HOCVAN], [GHICHU], [NGAYCHINHSUA]) VALUES (3, 13, 1, N'ht', N'Luong02', N'Tu', CAST(N'2000-02-03T00:00:00.000' AS DateTime), N'Nữ', N'Tày', N'561432678', N'hcm', N'Hieu truong', N'TK', N'Dài hạn', 6, CAST(N'2023-08-05T00:00:00.000' AS DateTime), CAST(N'2029-08-05T00:00:00.000' AS DateTime), N'0987655555', N'Tien si', N'Đã nghỉ việc', CAST(N'2023-08-31T20:27:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LSCHINHSUA] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [MAPHONG], [MALUONG], [HOTEN], [NGAYSINH], [GIOITINH], [DANTOC], [CMND_CCCD], [NOICAP], [CHUCVU], [MALOAINV], [LOAIHD], [THOIGIAN], [NGAYKY], [NGAYHETHAN], [SDT], [HOCVAN], [GHICHU]) VALUES (1, N's', N'Luong02', N'sss', CAST(N'2000-02-01T00:00:00.000' AS DateTime), N'Nữ', N'Tày', N'123456789', N'hcm', N'h', N'NV', N'Dài hạn', 4, CAST(N'2023-08-12T00:00:00.000' AS DateTime), CAST(N'2027-08-12T00:00:00.000' AS DateTime), N'0123456789', N'4', N'b')
INSERT [dbo].[NHANVIEN] ([MANV], [MAPHONG], [MALUONG], [HOTEN], [NGAYSINH], [GIOITINH], [DANTOC], [CMND_CCCD], [NOICAP], [CHUCVU], [MALOAINV], [LOAIHD], [THOIGIAN], [NGAYKY], [NGAYHETHAN], [SDT], [HOCVAN], [GHICHU]) VALUES (2, N'eee', N'Luong01', N'tttttt', CAST(N'2001-07-26T00:00:00.000' AS DateTime), N'Nữ', N'Tày', N'456789345', N'ee', N't', N'TK', N'Dài hạn', 5, CAST(N'2023-08-31T00:00:00.000' AS DateTime), CAST(N'2028-08-31T00:00:00.000' AS DateTime), N'0123432189', N'5', N'fg')
INSERT [dbo].[NHANVIEN] ([MANV], [MAPHONG], [MALUONG], [HOTEN], [NGAYSINH], [GIOITINH], [DANTOC], [CMND_CCCD], [NOICAP], [CHUCVU], [MALOAINV], [LOAIHD], [THOIGIAN], [NGAYKY], [NGAYHETHAN], [SDT], [HOCVAN], [GHICHU]) VALUES (3, N'eee', N'Luong01', N'Ngọc Trâm Võ', CAST(N'2000-07-06T00:00:00.000' AS DateTime), N'Nữ', N'Thái', N'126543211', N'hcm', N'giang vien IT', N'GV', N'Dài hạn', 4, CAST(N'2023-08-31T00:00:00.000' AS DateTime), CAST(N'2027-08-31T00:00:00.000' AS DateTime), N'0124765412', N'thac si', N'ssss')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[NVTHOIVIEC] ([MANV], [HOTEN], [CMND_CCCD], [NGAYTHOIVIEC], [LYDO]) VALUES (4, N'Thu Hà', N'765423188', CAST(N'2023-08-31T20:13:06.000' AS DateTime), N'qua tệ')
INSERT [dbo].[NVTHOIVIEC] ([MANV], [HOTEN], [CMND_CCCD], [NGAYTHOIVIEC], [LYDO]) VALUES (8, N'Minh TRu', N'222333444', CAST(N'2023-08-31T20:04:29.000' AS DateTime), N't')
INSERT [dbo].[NVTHOIVIEC] ([MANV], [HOTEN], [CMND_CCCD], [NGAYTHOIVIEC], [LYDO]) VALUES (9, N'Minh Minh', N'765242322', CAST(N'2023-08-31T19:58:02.000' AS DateTime), N'abcd')
GO
SET IDENTITY_INSERT [dbo].[PHANLOAITAIKHOAN] ON 

INSERT [dbo].[PHANLOAITAIKHOAN] ([MALOAITK], [TENLOAITK], [QUYENHAN]) VALUES (1, N'Quản trị viên', N'Quản trị hệ thống')
INSERT [dbo].[PHANLOAITAIKHOAN] ([MALOAITK], [TENLOAITK], [QUYENHAN]) VALUES (2, N'Quản lý', N'Quản lý nhân viên')
INSERT [dbo].[PHANLOAITAIKHOAN] ([MALOAITK], [TENLOAITK], [QUYENHAN]) VALUES (3, N'Nhân viên', N'Nhân viên')
SET IDENTITY_INSERT [dbo].[PHANLOAITAIKHOAN] OFF
GO
INSERT [dbo].[PHONGBAN] ([MAPHONG], [MABP], [TENPHONG], [NGAYTHANHLAP], [GHICHU]) VALUES (N'dt', N'x', N'Đào tạo', CAST(N'2023-08-04T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[PHONGBAN] ([MAPHONG], [MABP], [TENPHONG], [NGAYTHANHLAP], [GHICHU]) VALUES (N'eee', N'x', N'Giảng viên', CAST(N'2023-08-30T00:00:00.000' AS DateTime), N'')
INSERT [dbo].[PHONGBAN] ([MAPHONG], [MABP], [TENPHONG], [NGAYTHANHLAP], [GHICHU]) VALUES (N'ht', N'x', N'Phó hiệu trưởng', CAST(N'2023-08-11T00:00:00.000' AS DateTime), N'')
GO
SET IDENTITY_INSERT [dbo].[SOBH] ON 

INSERT [dbo].[SOBH] ([MABH], [MANV], [NGAYCAPSO], [NOICAPSO], [GHICHU]) VALUES (1, 5, CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'HCM', N'abc')
INSERT [dbo].[SOBH] ([MABH], [MANV], [NGAYCAPSO], [NOICAPSO], [GHICHU]) VALUES (2, 4, CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'TG', N'Đã nghỉ việc')
INSERT [dbo].[SOBH] ([MABH], [MANV], [NGAYCAPSO], [NOICAPSO], [GHICHU]) VALUES (3, 5, CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'hcm', N'abcd')
SET IDENTITY_INSERT [dbo].[SOBH] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MATK], [MALOAITK], [TENCHUTAIKHOAN], [TENDANGNHAP], [MATKHAU]) VALUES (1, 1, N'ADMIN', N'ADMIN', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b')
INSERT [dbo].[TAIKHOAN] ([MATK], [MALOAITK], [TENCHUTAIKHOAN], [TENDANGNHAP], [MATKHAU]) VALUES (2, 2, N'MANAGER', N'MANAGER', N'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
INSERT [dbo].[THAMSO] ([MATHAMSO], [TENTHAMSO], [GIATRI]) VALUES (N'TS01', N'Số ngày nghỉ tối đa', 3)
INSERT [dbo].[THAMSO] ([MATHAMSO], [TENTHAMSO], [GIATRI]) VALUES (N'TS02', N'Số ngày làm tối đa', 26)
INSERT [dbo].[THAMSO] ([MATHAMSO], [TENTHAMSO], [GIATRI]) VALUES (N'TS03', N'Tiền làm thêm', 40000)
GO
INSERT [dbo].[THAYDOIBANGLUONG] ([MANV], [MALUONG], [MALUONGMOI], [NGAYSUA], [LYDO]) VALUES (5, N'Luong02', N'Luong03', CAST(N'2023-08-31T00:00:00.000' AS DateTime), N'')
GO
ALTER TABLE [dbo].[BANGCHAMCONG]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONG_MALUONG] FOREIGN KEY([MALUONG])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[BANGCHAMCONG] CHECK CONSTRAINT [FK_BANGCHAMCONG_MALUONG]
GO
ALTER TABLE [dbo].[BANGCHAMCONGTHUVIEC]  WITH CHECK ADD  CONSTRAINT [FK_BANGCHAMCONGTHUVIEC_MANVTV] FOREIGN KEY([MANVTV])
REFERENCES [dbo].[HOSOTHUVIEC] ([MANVTV])
GO
ALTER TABLE [dbo].[BANGCHAMCONGTHUVIEC] CHECK CONSTRAINT [FK_BANGCHAMCONGTHUVIEC_MANVTV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MALOAINV] FOREIGN KEY([MALOAINV])
REFERENCES [dbo].[LOAINHANVIEN] ([MALOAINV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MALOAINV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MALUONG] FOREIGN KEY([MALUONG])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MALUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MAPHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGBAN] ([MAPHONG])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MAPHONG]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBAN_MABP] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_PHONGBAN_MABP]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_MALOAITK] FOREIGN KEY([MALOAITK])
REFERENCES [dbo].[PHANLOAITAIKHOAN] ([MALOAITK])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_MALOAITK]
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONG] FOREIGN KEY([MALUONG])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG] CHECK CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONG]
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONGMOI] FOREIGN KEY([MALUONGMOI])
REFERENCES [dbo].[BANGLUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[THAYDOIBANGLUONG] CHECK CONSTRAINT [FK_THAYDOIBANGLUONG_MALUONGMOI]
GO
USE [master]
GO
